.header{
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    background-image: url("logo.svg");
    background-size: cover;
    width: 160px;
    height: 40px;
    
}
/* box2 */
.search-icon{
    justify-content: flex-end;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 8px 8px 12px;
    background-color:transparent;
}
button i{
    height: 24px;
    width: 24px;
}
.search-input{
    width: 468px;
    height: 40px;
}
.login-box{
    height: 45px;
    background-color: red;
}
.login-user{
    width: 94px;
    height: 24px;
}